[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
paho-mqtt = "*"
python-dateutil = "*"
django-shell-plus = "*"
psycopg2-binary = "*"
django-extensions = "*"
ipython = "*"
django-filter = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
